<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 
1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0">
  <dict>
    <key>Label</key> 
    <string>com.ginie.notify</string> 
    <key>ProgramArguments</key> <array>
      
<string>/Users/christerolsen/GinieSystem/Scripts/notify_and_log_if_problem.sh</string>
    </array> <key>RunAtLoad</key> <true/> 
    <key>StandardOutPath</key> 
    <string>/Users/christerolsen/GinieSystem/Logs/notify_stdout.log</string> 
    <key>StandardErrorPath</key> 
    <string>/Users/christerolsen/GinieSystem/Logs/notify_stderr.log</string>
  </dict>
</plist>
