<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>Label</key><string>com.ginie.hide</string>
  <key>ProgramArguments</key><array>
    <string>/bin/bash</string><string>/Users/christerolsen/Desktop/c.ginie/hide_all.command</string>
  </array>
  <key>StartCalendarInterval</key><dict><key>Hour</key><integer>6</integer><key>Minute</key><integer>45</integer></dict>
</dict>
</plist>
