body {
  background-color: #111;
  color: #0f0;
  font-family: sans-serif;
  padding: 2em;
  text-align: center;
}
button {
  background: #00ff99;
  border: none;
  padding: 1em;
  margin: 0.5em;
  font-size: 1.1em;
  border-radius: 1em;
}
